.container{
    background-color: rgba(0, 247, 255, 0.768);
    margin: 50px;
    margin-left: 400px;
    text-align: center;
    width: 800px;
    height: 200px;
}
.card{
    background-color:gold;
    width: 300px;
    height: 90px;
    margin: 30px;
    margin-left: 240px;
    text-align: center;
    align-items: center;
}
.row{
    text-align: center;
    align-items: center;
}
